{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": 52.51051424216452,
    "longitude": 13.457833528518679,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Europe/Berlin",
    "external_url": "http://raspi481.sanberlin.com",
    "internal_url": null,
    "currency": "EUR",
    "country": "DE",
    "language": "de"
  }
}